<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>카테고리로 장소 검색하기</title>
    
</head>
<body>
<p style="margin-top:-12px">
    <em class="link">
        <a href="/web/documentation/#CategoryCode" target="_blank">카테고리 코드목록을 보시려면 여기를 클릭하세요!</a>
    </em>
</p>
<div id="map" style="width:100%;height:600px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=630a0bf389bf8764e683497bb330cffd&libraries=services"></script>
<script>

// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
mapOption = { 
    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 6 // 지도의 확대 레벨 
}; 


var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
 

//HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
if (navigator.geolocation) {
    
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">현위치</div>'; // 인포윈도우에 표시될 내용입니다
        
        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition, message);
            
      });
    
} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
        message = 'geolocation을 사용할수 없어요..'
        
    displayMarker(locPosition, message);
}

// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({  
        map: map, 
        position: locPosition
    }); 
  
    
    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });
    
    // 인포윈도우를 마커위에 표시합니다 
    infowindow.open(map, marker);
    
    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);   
  
}    


 
//마커를 표시할 위치와 title 객체 배열입니다 
var positions = [
	{title:'CGV광주첨단점',latlng:new kakao.maps.LatLng(35.21637788, 126.8507207)},
		{title:'CGV동백점',latlng:new kakao.maps.LatLng(37.27770362, 127.1510684)},
		{title:'CGV거제점',latlng:new kakao.maps.LatLng(34.89119747, 128.6161666)},
		{title:'CGV평택소사점',latlng:new kakao.maps.LatLng(37.00056599, 127.1115197)},
		{title:'CGV오산중앙점',latlng:new kakao.maps.LatLng(37.14201389, 127.0710131)},
		{title:'CGV구리점',latlng:new kakao.maps.LatLng(37.60180047, 127.1420962)},
		{title:'CGV동탄역점',latlng:new kakao.maps.LatLng(37.20238469, 127.0980926)},
		{title:'CGV파주문산점',latlng:new kakao.maps.LatLng(37.86665416, 126.7840976)},
		{title:'CGV수유점',latlng:new kakao.maps.LatLng(37.64239741, 127.0298301)},
		{title:'CGV송파점',latlng:new kakao.maps.LatLng(37.47710306, 127.1258204)},
		{title:'CGV인천연수점',latlng:new kakao.maps.LatLng(37.40635492, 126.6832999)},
		{title:'CGV광주하남점',latlng:new kakao.maps.LatLng(35.17796186, 126.8064251)},
		{title:'CGV대전가수원점',latlng:new kakao.maps.LatLng(36.30544455, 127.3505828)},
		{title:'CGV대구아카데미',latlng:new kakao.maps.LatLng(35.86998532, 128.5943232)},
		{title:'CGV목포점',latlng:new kakao.maps.LatLng(34.80251804, 126.4199187)},
		{title:'CGV용산아이파크몰점',latlng:new kakao.maps.LatLng(37.52930768, 126.9652637)},
		{title:'CGV안산점',latlng:new kakao.maps.LatLng(37.31336168, 126.8310385)},
		{title:'CGV수원점',latlng:new kakao.maps.LatLng(37.26564132, 127.0003809)},
		{title:'CGV여수웅천점',latlng:new kakao.maps.LatLng(34.74871172, 127.6787868)},
		{title:'CGV충북혁신점',latlng:new kakao.maps.LatLng(36.9080631, 127.5405978)},
		{title:'CGV김해율하점',latlng:new kakao.maps.LatLng(35.17001168, 128.8135052)},
		{title:'CGV동수원점',latlng:new kakao.maps.LatLng(37.26380027, 127.0321842)},
		{title:'CGV마산점',latlng:new kakao.maps.LatLng(35.23754229, 128.5823953)},
		{title:'CGV동대문점',latlng:new kakao.maps.LatLng(37.56872011, 127.0077132)},
		{title:'CGV창원점',latlng:new kakao.maps.LatLng(35.23438867, 128.642439)},
		{title:'CGV계양점',latlng:new kakao.maps.LatLng(37.533766, 126.7344749)},
		{title:'CGV대전점',latlng:new kakao.maps.LatLng(36.32101193, 127.4089604)},
		{title:'CGV김해점',latlng:new kakao.maps.LatLng(35.24220434, 128.8686045)},
		{title:'CGV정읍점',latlng:new kakao.maps.LatLng(35.56988024, 126.8494904)},
		{title:'CGV홍대입구역점',latlng:new kakao.maps.LatLng(37.55769972, 126.9259084)},
		{title:'CGV천안터미널점',latlng:new kakao.maps.LatLng(36.81925974, 127.1553363)},
		{title:'CGV순천점',latlng:new kakao.maps.LatLng(34.95078549, 127.4862889)},
		{title:'CGV피카디리1958점',latlng:new kakao.maps.LatLng(37.57107103, 126.9912026)},
		{title:'CGV인천논현점',latlng:new kakao.maps.LatLng(37.40229578, 126.7086067)},
		{title:'CGV동탄그랑파사쥬점',latlng:new kakao.maps.LatLng(37.16620808, 127.1061699)},
		{title:'CGV안성점',latlng:new kakao.maps.LatLng(37.01219093, 127.2572103)},
		{title:'CGV경산점',latlng:new kakao.maps.LatLng(35.83305712, 128.7366443)},
		{title:'CGV아시아드점',latlng:new kakao.maps.LatLng(35.19134127, 129.0621351)},
		{title:'CGV화정점',latlng:new kakao.maps.LatLng(37.63574956, 126.8331866)},
		{title:'CGV평택점',latlng:new kakao.maps.LatLng(36.99098979, 127.0857779)},
		{title:'CGV홍대점',latlng:new kakao.maps.LatLng(37.55649549, 126.9226315)},
		{title:'CGV진주혁신점',latlng:new kakao.maps.LatLng(35.18061816, 128.1438456)},
		{title:'CGV광양엘에프스퀘어점',latlng:new kakao.maps.LatLng(34.96182037, 127.5654884)},
		{title:'CGV순천신대점',latlng:new kakao.maps.LatLng(34.92609919, 127.5524284)},
		{title:'CGV스타필드시티위례점',latlng:new kakao.maps.LatLng(37.4800855, 127.148453)},
		{title:'CGV이천점',latlng:new kakao.maps.LatLng(37.2796373, 127.4441601)},
		{title:'CGV명지점',latlng:new kakao.maps.LatLng(35.09444344, 128.9034106)},
		{title:'CGV광주용봉점',latlng:new kakao.maps.LatLng(35.18279978, 126.9116836)},
		{title:'CGV용인점',latlng:new kakao.maps.LatLng(37.23510641, 127.2058277)},
		{title:'CGV중계점',latlng:new kakao.maps.LatLng(37.63976942, 127.0686963)},
		{title:'CGV청주지웰시티점',latlng:new kakao.maps.LatLng(36.64328376, 127.4277375)},
		{title:'CGV배곧점',latlng:new kakao.maps.LatLng(37.36816374, 126.7306685)},
		{title:'CGV인천학익점',latlng:new kakao.maps.LatLng(37.44562026, 126.6518232)},
		{title:'CGV여의도점',latlng:new kakao.maps.LatLng(37.52569561, 126.9255542)},
		{title:'CGV대구수성점',latlng:new kakao.maps.LatLng(35.8212552, 128.6402885)},
		{title:'CGV포천점',latlng:new kakao.maps.LatLng(37.82948976, 127.1497769)},
		{title:'CGV서현점',latlng:new kakao.maps.LatLng(37.38734368, 127.1224057)},
		{title:'CGV광주금남로',latlng:new kakao.maps.LatLng(35.14683497, 126.9146617)},
		{title:'CGV범계점',latlng:new kakao.maps.LatLng(37.38942199, 126.9514327)},
		{title:'CGV유성노은점',latlng:new kakao.maps.LatLng(36.37254024, 127.318509)},
		{title:'CGV화명점',latlng:new kakao.maps.LatLng(35.23482389, 129.0098244)},
		{title:'CGV부천점',latlng:new kakao.maps.LatLng(37.50465176, 126.7605709)},
		{title:'CGV천호점',latlng:new kakao.maps.LatLng(37.54574049, 127.1422682)},
		{title:'CGV해운대점',latlng:new kakao.maps.LatLng(35.16309207, 129.1586654)},
		{title:'CGV김해장유점',latlng:new kakao.maps.LatLng(35.19194316, 128.8021295)},
		{title:'CGV광교상현점',latlng:new kakao.maps.LatLng(37.2968614, 127.0681271)},
		{title:'CGV오산점',latlng:new kakao.maps.LatLng(37.14605864, 127.0704192)},
		{title:'CGV성남모란',latlng:new kakao.maps.LatLng(37.43139093, 127.1297621)},
		{title:'CGV광주상무점',latlng:new kakao.maps.LatLng(35.15455988, 126.8509717)},
		{title:'CGV강남점',latlng:new kakao.maps.LatLng(37.50166171, 127.0263387)},
		{title:'CGV부평점',latlng:new kakao.maps.LatLng(37.52227837, 126.7041056)},
		{title:'CGV청주율량점',latlng:new kakao.maps.LatLng(36.66607624, 127.4943997)},
		{title:'CGV아산점',latlng:new kakao.maps.LatLng(36.7802755, 127.0084614)},
		{title:'CGV울산삼산점',latlng:new kakao.maps.LatLng(35.54134536, 129.3388849)},
		{title:'CGV광주충장로점',latlng:new kakao.maps.LatLng(35.14882617, 126.9131985)},
		{title:'CGV카시네마서울랜드점',latlng:new kakao.maps.LatLng(37.43525991, 127.016613)},
		{title:'CGV불광점',latlng:new kakao.maps.LatLng(37.60963277, 126.9291167)},
		{title:'CGV대전가오점',latlng:new kakao.maps.LatLng(36.30693123, 127.4583856)},
		{title:'CGV광양점',latlng:new kakao.maps.LatLng(34.93548509, 127.723102)},
		{title:'CGV제주점',latlng:new kakao.maps.LatLng(33.50011694, 126.5272806)},
		{title:'CGV일산점',latlng:new kakao.maps.LatLng(37.65489471, 126.772888)},
		{title:'CGV청담씨네시티점',latlng:new kakao.maps.LatLng(37.5228943, 127.0370337)},
		{title:'CGV포항점',latlng:new kakao.maps.LatLng(36.01296708, 129.3485942)},
		{title:'CGV연수역',latlng:new kakao.maps.LatLng(37.41765563, 126.6772501)},
		{title:'CGV대구칠곡점',latlng:new kakao.maps.LatLng(35.94419523, 128.5600404)},
		{title:'CGV목동점',latlng:new kakao.maps.LatLng(37.52655642, 126.8749882)},
		{title:'CGV성신여대입구점',latlng:new kakao.maps.LatLng(37.59258382, 127.0169505)},
		{title:'CGV통영점',latlng:new kakao.maps.LatLng(34.85725822, 128.425573)},
		{title:'CGV미아점',latlng:new kakao.maps.LatLng(37.6121455, 127.0305561)},
		{title:'CGV건대입구점',latlng:new kakao.maps.LatLng(37.53976138, 127.0670307)},
		{title:'CGV김포운양점',latlng:new kakao.maps.LatLng(37.65491848, 126.6840432)},
		{title:'CGV화성봉담점',latlng:new kakao.maps.LatLng(37.21903153, 126.9554909)},
		{title:'CGV고성',latlng:new kakao.maps.LatLng(34.97707719, 128.3159411)},
		{title:'CGV대구월성점',latlng:new kakao.maps.LatLng(35.82456701, 128.5267135)},
		{title:'CGV평촌점',latlng:new kakao.maps.LatLng(37.39298667, 126.9622513)},
		{title:'CGV창원상남점',latlng:new kakao.maps.LatLng(35.22266057, 128.6814557)},
		{title:'CGV서면점',latlng:new kakao.maps.LatLng(35.14955177, 129.0644907)},
		{title:'CGV창원더시티점',latlng:new kakao.maps.LatLng(35.2405455, 128.653086)},
		{title:'CGV전주고사점',latlng:new kakao.maps.LatLng(35.8203354, 127.1420611)},
		{title:'CGV하단아트몰링점',latlng:new kakao.maps.LatLng(35.10676047, 128.9663119)},
		{title:'CGV김포한강점',latlng:new kakao.maps.LatLng(37.6322164, 126.7071981)},
		{title:'CGV정왕점',latlng:new kakao.maps.LatLng(37.34594214, 126.7368715)},
		{title:'CGV대구이시아점',latlng:new kakao.maps.LatLng(35.92127537, 128.6373091)},
		{title:'CGV대구스타디움점',latlng:new kakao.maps.LatLng(35.83219268, 128.686472)},
		{title:'CGV인천점',latlng:new kakao.maps.LatLng(37.45151527, 126.7019185)},
		{title:'CGV압구정점',latlng:new kakao.maps.LatLng(37.52435733, 127.0294042)},
		{title:'CGV대전탄방점',latlng:new kakao.maps.LatLng(36.34702553, 127.3888265)},
		{title:'CGV산본점',latlng:new kakao.maps.LatLng(37.35881719, 126.9331645)},
		{title:'CGV인제점',latlng:new kakao.maps.LatLng(38.06127041, 128.1651716)},
		{title:'CGV청주터미널점',latlng:new kakao.maps.LatLng(36.62617796, 127.4311524)},
		{title:'CGV북포항점',latlng:new kakao.maps.LatLng(36.04070751, 129.3681986)},
		{title:'CGV야탑점',latlng:new kakao.maps.LatLng(37.41338397, 127.1266529)},
		{title:'CGV파주야당점',latlng:new kakao.maps.LatLng(37.71322596, 126.7599075)},
		{title:'CGV대연점',latlng:new kakao.maps.LatLng(35.13733667, 129.0992617)},
		{title:'CGV나주점',latlng:new kakao.maps.LatLng(35.02390453, 126.7929484)},
		{title:'CGV제주노형점',latlng:new kakao.maps.LatLng(33.48578746, 126.4782974)},
		{title:'CGV인천도화',latlng:new kakao.maps.LatLng(37.46954267, 126.6645292)},
		{title:'CGV서전주점',latlng:new kakao.maps.LatLng(35.81680549, 127.1064703)},
		{title:'CGV인천시민공원',latlng:new kakao.maps.LatLng(37.45777158, 126.6811472)},
		{title:'CGV송도점',latlng:new kakao.maps.LatLng(37.3841926, 126.6421826)},
		{title:'CGV천안점',latlng:new kakao.maps.LatLng(36.80772408, 127.1483932)},
		{title:'CGV광주터미널점',latlng:new kakao.maps.LatLng(35.16080812, 126.8812678)},
		{title:'CGV대구한일점',latlng:new kakao.maps.LatLng(35.87044089, 128.5953119)},
		{title:'CGV논산점',latlng:new kakao.maps.LatLng(36.1829286, 127.0978235)},
		{title:'CGV센텀시티점',latlng:new kakao.maps.LatLng(35.16881162, 129.1292993)},
		{title:'CGV세종점',latlng:new kakao.maps.LatLng(36.50251446, 127.2476495)},
		{title:'CGV경기광주점',latlng:new kakao.maps.LatLng(37.4076262, 127.2585913)},
		{title:'CGV군산점',latlng:new kakao.maps.LatLng(35.9643393, 126.705453)},
		{title:'CGV대구현대점',latlng:new kakao.maps.LatLng(35.86669304, 128.5906407)},
		{title:'CGV김포웰라움',latlng:new kakao.maps.LatLng(37.60699954, 126.7235187)},
		{title:'CGV부천옥길점',latlng:new kakao.maps.LatLng(37.46744938, 126.8235936)},
		{title:'CGV남주안점',latlng:new kakao.maps.LatLng(37.46331131, 126.6807758)},
		{title:'CGV구로점',latlng:new kakao.maps.LatLng(37.50116016, 126.8827731)},
		{title:'CGV죽전점',latlng:new kakao.maps.LatLng(37.32504856, 127.1081117)},
		{title:'CGV목포평화광장점',latlng:new kakao.maps.LatLng(34.79920857, 126.43323)},
		{title:'CGV청주성안길점',latlng:new kakao.maps.LatLng(36.63528687, 127.4879252)},
		{title:'CGV소풍점',latlng:new kakao.maps.LatLng(37.50355699, 126.7563365)},
		{title:'CGV의정부점',latlng:new kakao.maps.LatLng(37.73719771, 127.0461683)},
		{title:'CGV판교점',latlng:new kakao.maps.LatLng(37.3927861, 127.1121267)},
		{title:'CGV동두천점',latlng:new kakao.maps.LatLng(37.89722969, 127.0583663)},
		{title:'CGV방학점',latlng:new kakao.maps.LatLng(37.66539498, 127.0435505)},
		{title:'CGV남포점',latlng:new kakao.maps.LatLng(35.09835297, 129.0273039)},
		{title:'CGV김포풍무점',latlng:new kakao.maps.LatLng(37.61014447, 126.7240964)},
		{title:'CGV천안펜타포트점',latlng:new kakao.maps.LatLng(36.79842237, 127.10143)},
		{title:'CGV신촌아트레온점',latlng:new kakao.maps.LatLng(37.55661676, 126.9401956)},
		{title:'CGV전주효자점',latlng:new kakao.maps.LatLng(35.80708516, 127.1159161)},
		{title:'CGV서산점',latlng:new kakao.maps.LatLng(36.77821041, 126.4565256)},
		{title:'CGV울산진장점',latlng:new kakao.maps.LatLng(35.5758462, 129.3559501)},
		{title:'CGV상봉점',latlng:new kakao.maps.LatLng(37.59741852, 127.0922552)},
		{title:'CGV울산신천점',latlng:new kakao.maps.LatLng(35.63496682, 129.355753)},
		{title:'CGV광교점',latlng:new kakao.maps.LatLng(37.28538136, 127.0573146)},
		{title:'CGV청주서문점',latlng:new kakao.maps.LatLng(36.63508482, 127.4868094)},
		{title:'CGV보령점',latlng:new kakao.maps.LatLng(36.34956359, 126.5928447)},
		{title:'CGV정관점',latlng:new kakao.maps.LatLng(35.32119381, 129.1782936)},
		{title:'CGV고양행신점',latlng:new kakao.maps.LatLng(37.61352164, 126.8344955)},
		{title:'CGV대전터미널점',latlng:new kakao.maps.LatLng(36.35097628, 127.4376457)},
		{title:'CGV인천공항점',latlng:new kakao.maps.LatLng(37.44726103, 126.4526796)},
		{title:'CGV청라점',latlng:new kakao.maps.LatLng(37.53248279, 126.6416898)},
		{title:'CGV동래점',latlng:new kakao.maps.LatLng(35.22180823, 129.0854672)},
		{title:'CGV강릉점',latlng:new kakao.maps.LatLng(37.75593826, 128.8988575)},
		{title:'CGV양산삼호점',latlng:new kakao.maps.LatLng(35.41381924, 129.1677798)},
		{title:'CGV주안역점',latlng:new kakao.maps.LatLng(37.46555937, 126.6804647)},
		{title:'CGV익산점',latlng:new kakao.maps.LatLng(35.95815693, 126.973774)},
		{title:'CGV양산물금점',latlng:new kakao.maps.LatLng(35.31797264, 129.00185)},
		{title:'CGV양주옥정점',latlng:new kakao.maps.LatLng(37.81939584, 127.0921261)},
		{title:'CGV하계점',latlng:new kakao.maps.LatLng(37.63866894, 127.0648071)},
		{title:'CGV북수원점',latlng:new kakao.maps.LatLng(37.30318382, 127.0075533)},
		{title:'CGV춘천점',latlng:new kakao.maps.LatLng(37.85066401, 127.7440493)},
		{title:'CGV충주교현점',latlng:new kakao.maps.LatLng(36.98101911, 127.9279582)},
		{title:'CGV원주점',latlng:new kakao.maps.LatLng(37.34505269, 127.9307418)},
		{title:'CGV부천역점',latlng:new kakao.maps.LatLng(37.4858796, 126.7810058)},
		{title:'CGV대구점',latlng:new kakao.maps.LatLng(35.8713507, 128.5947428)},
		{title:'CGV안동점',latlng:new kakao.maps.LatLng(36.56116303, 128.749339)},
		{title:'CGV서면삼정타워점',latlng:new kakao.maps.LatLng(35.15293846, 129.0596819)},
		{title:'CGV구미점',latlng:new kakao.maps.LatLng(36.13003412, 128.3277481)},
		{title:'CGV강변점',latlng:new kakao.maps.LatLng(37.53586361, 127.0962519)},
		{title:'CGV왕십리점',latlng:new kakao.maps.LatLng(37.56193879, 127.0381551)},
		{title:'CGV영등포점',latlng:new kakao.maps.LatLng(37.5168438, 126.9027135)},
		{title:'CGV역곡점',latlng:new kakao.maps.LatLng(37.48468107, 126.8111404)},
		{title:'CGV오리점',latlng:new kakao.maps.LatLng(37.34104949, 127.1067444)},
		{title:'CGV동탄점',latlng:new kakao.maps.LatLng(37.20519049, 127.0693595)},
		{title:'CGV김천율곡점',latlng:new kakao.maps.LatLng(36.11495212, 128.1834542)},
		{title:'CGV동탄호수공원점',latlng:new kakao.maps.LatLng(37.17210167, 127.1060841)},
		{title:'CGV여주점',latlng:new kakao.maps.LatLng(37.29718848, 127.6376295)},
		{title:'CGV명동점',latlng:new kakao.maps.LatLng(37.56343778, 126.9829017)},
		{title:'CGV당진점',latlng:new kakao.maps.LatLng(36.90196356, 126.6302064)},
		{title:'CGV의정부태흥점',latlng:new kakao.maps.LatLng(37.73801207, 127.0440225)},
		{title:'CGV시흥점',latlng:new kakao.maps.LatLng(37.44701092, 126.7916197)},
		{title:'CGV천안업성',latlng:new kakao.maps.LatLng(36.84422849, 127.1351597)}
];




// 마커 이미지의 이미지 주소입니다
var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    
for (var i = 0; i < positions.length; i ++) {
    
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35); 
    
    // 마커 이미지를 생성합니다    
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });
    
    
    kakao.maps.event.addListener(marker, 'click', function (){
        var title = this.getTitle();
        console.log(title);
    });
}




</script>
</body>
</html>